{% extends "templates/web.html" %}

{% block title %}{{ _("Custom Page") }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="/assets/frappe/css/frappe-web.css">
{% endblock %}

{% block script %}
<script src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script src="/assets/frappe/js/frappe-web.min.js"></script>
<script src="/assets/frappe/js/lib/moment.min.js"></script>
{% endblock %}

{% block header %}
<h1>{{ _("Página Personalizada") }}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid" id="custom-page-container">
    <div class="row">
        <div class="col-md-12">
            <h3>Gerenciador de valores esperados para contratos</h3>
            <div class="form-group">
                <label for="contract-select">Selecionar Contrato:</label>
                <select id="contract-select" class="form-control" style="width: 300px;">
                    <option value="">Selecione um Contrato...</option>
                </select>
                <h5>
                    <div id="subsidiaria-name"></div>
                    <div id="contratada-name"></div>
                </h5>

            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-8">
            <div id="contract-list-container" style="display: none;">
                <h4>Itens do contrato</h4>
                <div class="col-md-4" id="measurement-items"></div>
            </div>
            <div id="input-form" style="display: none;">
                <h4>Adicionar Novo Item</h4>
                <form id="new-item-form">
                    <button type="submit" class="btn btn-primary">Adicionar Item</button>
                </form>
            </div>
        </div>


</div>
</div>

<script>

document.addEventListener('DOMContentLoaded', function() {
    // Wait for frappe to be ready
    if (window.frappe) {
        init_page();
    } else {
        document.addEventListener('frappe-ready', init_page);
    }
});

function init_page() {
    init_custom_page();
}

function init_custom_page() {
    load_contracts();
    
    $('#contract-select').on('change', function() {
        const selected_contract = $(this).val();
        if (selected_contract) {
            const selected_option = $(this).find('option:selected');
            const contratada = selected_option.attr('contratada');
            const subsidiaria = selected_option.attr('subsidiaria');
            
            load_subsidiaria(subsidiaria);
            load_contratada(contratada);
            load_contract_items(selected_contract);
            $('#contract-list-container').show();
            $('#input-form').show();
        } else {
            $('#contract-list-container').hide();
            $('#input-form').hide();
        }
    });
    
    $('#new-item-form').on('submit', function(e) {
        e.preventDefault();
        add_new_item();
    });
}

function load_contracts() {
    frappe.call({
        method: 'frappe.client.get_list',
        args: {
            doctype: 'Contract',
            fields: ['name', 'contrato', 'contratada', 'subsidiaria'],
            order_by: 'creation asc',
            limit_page_length: 100,
        },
        callback: function(r) {
            if (r.message) {
                const select = $('#contract-select');
                select.empty().append('<option value="">Selecione um Contrato...</option>');
                
                r.message.forEach(function(item) {
                    select.append(`<option value="${item.name}" 
                                    contratada="${item.contratada}" 
                                    subsidiaria="${item.subsidiaria}">
                                    ${item.contrato}</option>`);
                });
            }
        }
    });
}

function load_contratada(contratada_id){
        frappe.call({
        method: 'frappe.client.get_list',
        args: {
            doctype: 'Contracted Company',
            filters: {
                'name': contratada_id
            },
            fields: ['nome'],
            order_by: 'creation desc'
        },
        callback: function(r) {
            if (r.message) {
                let html = `<p>Empresa: ${r.message[0].nome}</p>`
                $('#contratada-name').html(html);
            }
        }
    });
}
function load_subsidiaria(subsidiaria_id){
        frappe.call({
        method: 'frappe.client.get_list',
        args: {
            doctype: 'Subsidiary',
            filters: {
                'name': subsidiaria_id
            },
            fields: ['nome'],
            order_by: 'creation desc'
        },
        callback: function(r) {
            if (r.message) {
                let html = `<p>Concessionária: ${r.message[0].nome}</p>`
                $('#subsidiaria-name').html(html);
            }
        }
    });
}

function load_contract_items(contract_name){
    frappe.call({
        method: 'frappe.client.get_list',
        args: {
            doctype: 'Contract Measurement',
            filters: {
                'contrato': contract_name
            },
            fields: ['name', 'tabitenscontatrato', 'obra','datafinalmedicao'],
            order_by: 'datafinalmedicao asc'
        },
        callback: function(r) {
            if (r.message) {
                console.log(r.message);
                render_contract_measurement_items(r.message);
            }
        }
    });
}

function render_contract_measurement_items(measurements) {
    // Get all unique dates from measurements for table headers
    const dates = measurements.map(item => item.datafinalmedicao);

    // Render table header with each date as a column
    let html = `
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descrição do Item</th>
    `;
            dates.forEach(date => {
                html += `<th>${moment(date).format('DD/MM/YYYY')}</th>`;
            });
            html += `
                </tr>
            </thead>
            <tbody>
    `;

    // Fetch contract items for the selected contract
    frappe.call({
        method: 'frappe.client.get_list',
        args: {
            doctype: 'Contract Item',
            filters: {
                'contrato': $('#contract-select').val()
            },
            fields: ['name', 'descricao'],
            order_by: 'codigo asc'
        },
        callback: function(r) {
            if (r.message) {
                console.log(r.message);
                r.message.forEach(function(item) {
                    html += `<tr><td>${item.descricao}</td>`;
                    dates.forEach(() => {
                        html += `<td><input type="text" class="form-control" /></td>`;
                    });
                    html += `</tr>`;
                });
                html += '</tbody></table>';
                $('#measurement-items').html(html);
            }
        }
    });
}

function add_new_item() {
    const selected_doctype = $('#contract-select').val();
    
    frappe.call({
        method: 'frappe.client.insert',
        args: {
            doc: {
                doctype: 'Custom Data Table',
                doctype_reference: selected_doctype,
                item_name: name,
                description: description,
                additional_data: additional_data
            }
        },
        callback: function(r) {
            if (r.message) {
                frappe.msgprint('Item adicionado com sucesso!');
                $('#new-item-form')[0].reset();
            }
        }
    });
}
</script>
{% endblock %}
